.column {
  position: relative; 
  overflow-y: scroll;
  height: 100%;
}

.column__header {
  position: sticky;
  top: 0;
  padding: .5em 0;
  background-color: var(--white);
  z-index: 1;
}

.column__header > span {
  padding: .2em .75em;
  border-radius: var(--border-radius);
}

.column__header > span:first-child {
  background-color: #badc58;
  margin-right: .5em;
}

.column__cnt {
  color: var(--gray);
  cursor: default;
}

.column ul {
  margin-top: .5em;
}

.column li,
.column .menuBtn {
  border: solid 1px var(--gray);
  border-radius: var(--border-radius);
  padding: .75em .5em;
  box-shadow: 1px 1px 5px .1px var(--silver);
}

.column li {
  margin-bottom: .5em;
  position: relative;
}

.column li:hover {
  background-color: var(--white-gray);
}

.column input {
  border-style: none;
  width: 100%;
  cursor: pointer;
}

.column input:focus {
  cursor: auto;
}

.column .menuBtn {
  position: absolute;
  top: .5em;
  right: .5em;
  width: 2em;
  height: 2em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  opacity: 0;
  transition: opacity .2s linear;
  cursor: pointer;
}

.column li:hover .menuBtn {
  opacity: 1;
}

.column .menuBtn:hover {
  background-color: var(--gray);
}

