:root {
  --white: #FFFFFF;
  --dark-gray: rgba(149, 165, 166, 1);
  --gray: #C4CDCD;
  --silver: rgba(189, 195, 199, 0.5);
  --white-gray: rgba(236, 240, 241, 0.7);
  --border-radius: .3em;
}

* {
  box-sizing: border-box;
}

input {
  background-color: transparent;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

select {
  padding: .2em;
  border: 1px solid var(--gray);
}

#App {
  width: 100vw;
  height: 100vh;
  padding: 1em;
  background-color: var(--white);
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.app-title {
  margin-bottom: 2em;
}

.app-title > h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: .25em;
}
/* teletobi ! blackpink joA. hajiman yeojeonhee taeyeon E ga ZZang E Ya!  */
.app-title > h1 > img {
  width: 1.1em;
  height: 1.1em;
  margin-right: .2em;
  vertical-align:text-top;
}

.app-title > div {
  color: var(--dark-gray);
}

.column-box {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  height: 100%;
}

.column-box > section {
  flex: 0 0 auto;
  width: 300px;
}

.column-box > section:not(:last-child) {
  margin-right: 1em;
}

